<!-- Секция призыва к действию -->
<section class="join-section">
    <div class="join-section__container">
        <div class="join-section__content">
            <div class="section-title section-title--ru">{{ page.join_title }}</div>
            <div class="join-c2a">
                <a class="btn btn--dark btn--arrow btn--wide" rel="external" href="{{ page.join_button_url | default: '#start' }}">
                    <span class="btn__label">{{ page.join_button_text }}</span>
                </a>
            </div>
        </div>
    </div>
</section>
